<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Nueva venta</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Nueva venta</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Productos</h5>
        </div>
        <div class="ibox-content">

          <table class="table table-striped tabla-productos-venta">
            <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr class="hidden">
              <td>0</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <% @servicios_asociados.each_with_index do |sevasc, index| %>
                <tr id="<%= sevasc.id %>">
                  <td><%= index %></td>
                  <td><%= sevasc.servicio_nombre_dn.present? ? sevasc.servicio_nombre_dn : sevasc.producto_nombre_dn %></td>
                  <td><%= sevasc.precio_total %> €</td>
                  <td>
                    <span id="<%= sevasc.id %>" data-tipo="<%= sevasc.servicio_nombre_dn.present? ? 'servicio' : 'producto' %>" class="eliminar glyphicon glyphicon-remove"></span>
                  </td>
                </tr>
            <% end if @servicios_asociados.present? %>
            </tbody>
          </table>
          <hr class="hr-line-dashed">
          <%= simple_form_for @venta, url: gestion_venta_cierra_venta_path(@venta.id), method: :post do |f| %>
              <%= f.input :tipo_pago, collection: @tipo_pago, selected: @tipo_pago.first, input_html: {class: 'form-control m-b-md'} %>
              <%= f.input :cliente_id, collection: @clientes, input_html: {class: 'form-control m-b-md chosen-select'} %>
              <%= f.button :submit, 'Cerrar venta', class: 'btn btn-w-m btn-primary btn-lg cerrar-venta', :confirm => "¿Estas seguro? No se podrán añadir nuevos elementos a la factura cerrada" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="caja-acciones">
        <p class="caja-precio-total">
          <label class="cuenta"><%= @venta.precio_total %></label><span class="euros float-right"><i class="fa fa-eur" aria-hidden="true"></i></span>
        </p>
        <div class="ibox-content" id="servicios">
          <h3>Servicios</h3>
          <div class="row">
            <% @servicios.each_with_index do |s, index| %>
                <div class="col-lg-3">
                  <div class="box btn btn-w-m btn-primary" id="<%= s.id %>">
                    <p class="precio">
                      <%= number_to_currency(s.coste, :unit => '€') %>
                    </p>
                    <p class="producto">
                      <%= s.nombre %>
                    </p>
                  </div>
                </div>
            <% end %>
          </div>
          <input type="hidden" value="<%= @venta.id %>" id="venta_id" name="venta_id">
        </div>
        <div class="ibox-content" id="productos">
          <h3>Productos</h3>
          <div class="row">
            <% @productos.each_with_index do |p, index| %>
                <div class="col-lg-3">
                  <div class="box-producto btn btn-w-m btn-primary <%= "sin-stock" if p.stock == 0 %>" id="<%= p.id %>">
                    <p class="precio">
                      <%= number_to_currency(p.precio_venta, :unit => '€') %>
                    </p>
                    <p class="producto">
                      <%= p.nombre %>
                      <% if p.stock <= 3 %>
                         <span class="stock-bajo" data-toggle="tooltip" data-placement="top" title="" data-original-title="Unidades disponibles: <%= p.stock %>">
                           <i class="fa fa-exclamation-triangle pulse" aria-hidden="true"></i></span>
                      <% end %>
                    </p>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>