<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Nueva venta</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Nueva venta</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Productos</h5>
        </div>
        <div class="ibox-content">

          <table class="table table-striped tabla-productos-venta">
            <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Precio</th>
            </tr>
            </thead>
            <tbody>
            <% @servicios_asociados.each_with_index do |sevasc, index| %>
                <tr>
                  <td><%= index %></td>
                  <td><%= sevasc.servicio_nombre_dn %></td>
                  <td><%= sevasc.precio_total %></td>
                </tr>
            <% end if @servicios_asociados.present? %>
            </tbody>
          </table>
          <hr class="hr-line-dashed">
          <%= simple_form_for @venta, url: gestion_venta_cierra_venta_path(@venta.id), method: :post do |f| %>
              <%= f.button :submit, 'Cerrar venta', class: 'btn btn-w-m btn-primary btn-lg cerrar-venta', :confirm => "¿Estas seguro? No se podrán añadir nuevos elementos a la factura cerrada" %>
          <% end %>
          <div class="calculadora">
            <table class="table no-borders">
              <tr>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">7</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">8</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">9</button>
                </td>
                <td rowspan="4">
                  <button class="btn btn-outline btn-primary dim text-center" type="button">=</button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">4</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">5</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">6</button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">1</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">2</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">3</button>
                </td>

              </tr>
              <tr>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">+</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">0</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">-</button>
                </td>

              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="caja-acciones">
        <p class="caja-precio-total">
          <label class="cuenta"><%= @venta.precio_total %></label><span class="euros float-right"><i class="fa fa-eur" aria-hidden="true"></i></span>
        </p>
        <div class="ibox-content">
          <div class="row">
            <% @servicios.each_with_index do |s, index| %>
                <div class="col-lg-4">
                  <div class="box btn btn-w-m btn-primary" id="<%= s.id %>">
                    <p class="precio">
                      <%= s.coste %>
                    </p>
                    <p class="producto">
                      <%= s.nombre %>
                    </p>
                  </div>
                </div>
            <% end %>
          </div>
          <input type="hidden" value="<%= @venta.id %>" id="venta_id" name="venta_id">
        </div>
      </div>
    </div>
  </div>
</div>