<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Gestión de los tintes del cliente <%= @cliente.nombre_completo_dn %></h5>
  </div>
  <div class="ibox-content">
    <table class="table table-striped">
      <tr>
        <th>Fecha</th>
        <th>Código</th>
        <th>
          <%= link_to new_tinte_gestion_cliente_path(@cliente.id), :title => 'Añadir nuevo tinte al cliente' do %>
              <span class="nuevo glyphicon glyphicon-plus"></span>
          <% end %></th>
      </tr>
      <% cliente_tintes.each do |c| %>
          <tr id="cliente_tinte_<%= c.id %>">
            <td><%= fecha_legible(c.created_at) %></td>
            <td><%= Tinte.find(c.producto_id).codigo %></td>
            <td>
              <%= link_to edit_gestion_clientes_tinte_path(c.id), :title => 'Editar tinte' do %>
                  <span class="editar fa fa-edit"></span>
              <% end %>
              <%= link_to edit_gestion_clientes_tinte_path(c.id), :confirm => "¿Estas seguro?", :method => :delete, remote: true, :title => 'Eliminar tinte' do %>
                  <span class="eliminar glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>