<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Estadísticas</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Estadísticas</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <h3>Semana <%= Time.zone.now.beginning_of_week.strftime("%d/%m/%Y") %> al <%= Time.zone.now.end_of_week.strftime("%d/%m/%Y") %></h3>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-3">
        <div class="ibox">
          <div class="ibox-content">
            <h5>Ventas</h5>
            <h1 class="no-margins"><%= @ventas_semana %></h1>
            <%
              clase = ''
              clase2 = ''
              if @diferencia_ventas > 0
                clase = 'stat-percent font-bold text-navy'
                clase2 = 'fa fa-bolt'
              else
                clase = 'stat-percent font-bold text-danger'
                clase2 = 'fa fa-level-down'
              end %>
            <div class="<%= clase %>"><%= @diferencia_ventas %>% <i class="<%= clase2 %>"></i></div>
            <small>Ventas totales</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox">
          <div class="ibox-content">
            <h5>Ingresos</h5>
            <h1 class="no-margins"><%= number_to_currency(@ingresos_semana, :unit => '€') %></h1>
            <%
              clase = ''
              clase2 = ''
              if @diferencia_ingresos > 0
                clase = 'stat-percent font-bold text-navy'
                clase2 = 'fa fa-bolt'
              else
                clase = 'stat-percent font-bold text-danger'
                clase2 = 'fa fa-level-down'
              end %>
            <div class="<%= clase %>"><%= @diferencia_ingresos %>%  <i class="<%= clase2 %>"></i></div>
            <small>Ingresos totales</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3>Mes <%= Time.zone.now.strftime("%B") %> </h3>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-3">
        <div class="ibox">
          <div class="ibox-content">
            <h5>Ventas</h5>
            <h1 class="no-margins"><%= @ventas_mes %></h1>
            <%
              clase = ''
              clase2 = ''
              if @diferencia_ventas_meses > 0
                clase = 'stat-percent font-bold text-navy'
                clase2 = 'fa fa-bolt'
              else
                clase = 'stat-percent font-bold text-danger'
                clase2 = 'fa fa-level-down'
              end %>
            <div class="<%= clase %>"><%= @diferencia_ventas_meses %>% <i class="<%= clase2 %>"></i></div>
            <small>Ventas totales</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox">
          <div class="ibox-content">
            <h5>Ingresos</h5>
            <h1 class="no-margins"><%= number_to_currency(@ingresos_mes, :unit => '€') %></h1>
            <%
              clase = ''
              clase2 = ''
              if @diferencia_ingresos > 0
                clase = 'stat-percent font-bold text-navy'
                clase2 = 'fa fa-bolt'
              else
                clase = 'stat-percent font-bold text-danger'
                clase2 = 'fa fa-level-down'
              end %>
            <div class="<%= clase %>"><%= @diferencia_ingresos_meses %>%  <i class="<%= clase2 %>"></i></div>
            <small>Ingresos totales</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>