<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Estadísticas</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Estadísticas</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <h3>Semana <%= Time.current.beginning_of_week.strftime("%d/%m/%Y") %>
        al <%= Time.current.end_of_week.strftime("%d/%m/%Y") %></h3>
    </div>
    <div class="col-lg-9">
      <div class="col-lg-6">
        <div class="ibox">
          <div class="ibox-content">
            <h5>Ventas</h5>
            <h1 class="no-margins"><%= @ventas_semana %></h1>
            <%
              clase = ''
              clase2 = ''
              if @diferencia_ventas > 0
                clase = 'stat-percent font-bold text-navy'
                clase2 = 'fa fa-bolt'
              else
                clase = 'stat-percent font-bold text-danger'
                clase2 = 'fa fa-level-down'
              end %>
            <div class="<%= clase %>">
              <p data-toggle="tooltip" data-placement="top" title="" data-original-title="Ventas semana anterior <%= @ventas_semana_anterior %>"><%= @diferencia_ventas.round(2) %>
                % <i class="<%= clase2 %>"></i></p>
            </div>
            <small>Ventas totales</small>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ibox">
          <div class="ibox-content">
            <h5>Ingresos</h5>
            <h1 class="no-margins"><%= number_to_currency(@ingresos_semana, :unit => '€') %></h1>
            <%
              clase = ''
              clase2 = ''
              if @diferencia_ingresos > 0
                clase = 'stat-percent font-bold text-navy'
                clase2 = 'fa fa-bolt'
              else
                clase = 'stat-percent font-bold text-danger'
                clase2 = 'fa fa-level-down'
              end %>
            <div class="<%= clase %>">
              <p data-toggle="tooltip" data-placement="top" title="" data-original-title="Ingresos semana anterior <%= number_to_currency(@ingresos_semana_anterior, :unit => '€') %>"><%= @diferencia_ingresos.round(2) %>
                % <i class="<%= clase2 %>"></i></p></div>
            <small>Ingresos totales</small>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ibox">
          <div class="ibox-content">
            <h5>Tipos de pago</h5>
            <div class="row">
              <div class="col-xs-6">
                <p>Pagos en efectivo</p>
                <h1 class="no-margins"><%= @pagos_efectivo %></h1>
              </div>
              <div class="col-xs-6">
                <p>Pagos con tarjeta</p>
                <h1 class="no-margins"><%= @pagos_tarjeta %></h1>
              </div>
            </div>

            <small>Métodos de pago</small>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ibox">
          <div class="ibox-content">
            <h5>Gestión del IVA</h5>
            <div class="row">
              <div class="col-xs-6">
                <p>IVA repercutido (Ventas)</p>
                <h1 class="no-margins"><%= number_to_currency(@iva_repercutido, :unit => '€') %></h1>
              </div>
              <div class="col-xs-6">
                <p>IVA soportado (Compras)</p>
                <h1 class="no-margins"><%= number_to_currency(@iva_soportado, :unit => '€') %></h1>
              </div>
            </div>

            <small>IVA</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-content">
            <h3 class="no-margins">Servicios mas usados durante la semana</h3>
            <input type="hidden" id="productos_semana" name="productos_semana" value="<%= @productos_semana %>">
            <canvas id="chart_semanal" width="200" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12" id="estadisticas_semanales" data-semana-anterior="">
      <input type="hidden" value="<%= @ventas_semana_total %>" id="ventas_semana_total_grafica">
      <input type="hidden" value="<%= @ventas_semana_anterior_total %>" id="ventas_semana_anterior_total_grafica">
      <h3 class="no-margins">Estadísticas de ventas semanal</h3>
      <div class="col-lg-12">
        <canvas id="line_semanal" width="300" height="300"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3>Mes <%= Time.current.strftime("%B") %> </h3>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-9">
        <div class="col-lg-6">
          <div class="ibox">
            <div class="ibox-content">
              <h5>Ventas</h5>
              <h1 class="no-margins"><%= @ventas_mes %></h1>
              <%
                clase = ''
                clase2 = ''
                if @diferencia_ventas_meses > 0
                  clase = 'stat-percent font-bold text-navy'
                  clase2 = 'fa fa-bolt'
                else
                  clase = 'stat-percent font-bold text-danger'
                  clase2 = 'fa fa-level-down'
                end %>
              <div class="<%= clase %>"><%= @diferencia_ventas_meses %>% <i class="<%= clase2 %>"></i></div>
              <small>Ventas totales</small>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ibox">
            <div class="ibox-content">
              <h5>Ingresos</h5>
              <h1 class="no-margins"><%= number_to_currency(@ingresos_mes, :unit => '€') %></h1>
              <%
                clase = ''
                clase2 = ''
                if @diferencia_ingresos_meses > 0
                  clase = 'stat-percent font-bold text-navy'
                  clase2 = 'fa fa-bolt'
                else
                  clase = 'stat-percent font-bold text-danger'
                  clase2 = 'fa fa-level-down'
                end %>
              <div class="<%= clase %>"><%= @diferencia_ingresos_meses.round(2) %>% <i class="<%= clase2 %>"></i></div>
              <small>Ingresos totales</small>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ibox">
            <div class="ibox-content">
              <h5>Gastos</h5>
              <h1 class="no-margins"><%= number_to_currency(@total_gastos, :unit => '€') %></h1>
              <small>Gastos totales</small>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ibox">
            <div class="ibox-content">
              <h5>Balance mensual</h5>
              <h1 class="no-margins"><%= number_to_currency(@total_mes, :unit => '€') %></h1>
              <small>Balance del mes Ingresos - Gastos </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="col-lg-12">
          <div class="ibox">
            <div class="ibox-content">
              <h3 class="no-margins">Servicios mas usados durante el mes</h3>
              <input type="hidden" id="productos_mes" name="productos_mes" value="<%= @productos_mes %>">
              <canvas id="chart_mensual" width="200" height="200"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>