<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Gestión de los productos</h5>
  </div>
  <div class="ibox-content">

    <div id="table" class="table-editable">

      <table class="table table-striped">
        <tr>
          <th>Nombre</th>
          <th>Precio compra</th>
          <th>Precio venta</th>
          <th>Stock</th>
          <th>Activo</th>
          <th>
            <%= link_to new_gestion_producto_path, :title => 'Añadir nuevo producto' do %>
                <span class="nuevo glyphicon glyphicon-plus"></span>
            <% end %></th>
        </tr>
        <% producto.each do |p| %>
            <tr id="producto_<%= p.id %>">
              <td><%= p.nombre %></td>
              <td><%= p.precio_compra %></td>
              <td><%= p.precio_venta %></td>
              <td><%= p.stock %></td>
              <td><%= boolean_to_human(p.activo).html_safe %></td>
              <td>
                <%= link_to edit_gestion_producto_path(p.id), :title => 'Editar producto' do %>
                    <span class="editar fa fa-edit"></span>
                <% end %>
                <%= link_to gestion_producto_path(p.id), :confirm => "¿Estas seguro?", :method => :destroy, remote: true, :title => 'Eliminar producto' do %>
                    <span class="eliminar glyphicon glyphicon-remove"></span>
                <% end %>

              </td>
            </tr>
        <% end if producto.count > 0 %>
        <!-- This is our clonable table line -->
        <tr class="hide">
          <td contenteditable="true">Untitled</td>
          <td contenteditable="true">undefined</td>
          <td>
            <span class="table-remove glyphicon glyphicon-remove"></span>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>