<style>
  h2 {
    font-size: 30px;
  }

  .table {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .table tbody tr:first-of-type {
    background-color: #1ab394;
  }

  .table thead tr td {
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
  }

  .table tbody tr td, .table tfoot tr td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
  }

  .table tbody tr:nth-child(even) {
    background: #CCC;
  }

  .table tfoot tr td p {
    font-size: 20px;
  }

  .table tfoot tr td:first-of-type {
    font-size: 20px;
  }
</style>
<h2>Informe de gastos en gasolina entre las fechas <%= fecha_legible(session[:filtro_fecha_inicio].to_date) %>
  - <%= fecha_legible(session[:filtro_fecha_fin].to_date) %></h2>

<div class="col-lg-12">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content p-xl">
      <div class="table-responsive m-t">
        <table class="table invoice-table">
          <tbody>
          <tr>
            <th>Fecha repostaje</th>
            <th>Precio litro</th>
            <th>Litros</th>
            <th>Vehiculo</th>
            <th>Gasolinera</th>
            <th>Kilometros</th>
            <th>Importe total</th>
          </tr>
          <% @linea_gasto.each do |lv| %>
              <tr>
                <td>
                  <strong><%= fecha_legible(lv[1][:fecha]) %></strong>
                </td>
                <td><%= lv[1][:precio_litro] %></td>
                <td><%= lv[1][:litros] %></td>
                <td><%= lv[1][:vehiculo] %></td>
                <td><%= lv[1][:gasolinera] %></td>
                <td><%= lv[1][:kilometros] %></td>
                <td><strong> <%= number_to_currency(lv[1][:precio_total], :unit => '€') %></strong></td>
              </tr>
          <% end %>

          </tbody>
          <tfoot>
          <tr>
            <td colspan="5">Resumen del informe</td>
            <td><strong>TOTAL: </strong>
              <p><%= number_to_currency(@gastos, :unit => '€') %></p></td>
          </tr>
          </tfoot>
        </table>
      </div><!-- /table-responsive -->

    </div>
  </div>
</div>