<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Citas</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Citas</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div id='calendar' data-citas="<%= @citas %>"></div>

    </div>
  </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nueva Cita</h4>
      </div>
      <div class="modal-body clearfix">
        <%= simple_form_for :cita, url: gestion_citas_path(@cita), method: :post, html: {class: 'form-horizontal'} do |f| %>
          <div class="col-xs-12">
            <%= f.input :cliente_id, collection: @clientes, prompt: 'Seleccionar cliente', input_html: {class: 'form-control m-b-xs'} %>
          </div>
          <div class="col-xs-12">
            <a href="#" class="btn btn-primary m-b-md nuevo_cliente">Crear cliente</a>
          </div>
          <div class="form-nuevo-cliente col-xs-12">
            <%= fields_for :cliente, @cliente do |c| %>
              <label>Nombre</label>
              <%= c.text_field :nombre, {class: "form-control m-b-md #{field_class(@cliente, :nombre) }"} %>
              <label>Apellidos</label>
              <%= c.text_field :apellidos, {class: "form-control m-b-md #{field_class(@cliente, :apellidos) }"} %>
              <label>Telefono</label>
              <%= c.text_field :telefono, {class: "form-control m-b-md #{field_class(@cliente, :telefono) }"} %>
              <label>Sexo</label>
              <%= c.select(:sexo, [['Hombre', 'Hombre'], ['Mujer', 'Mujer']], {:include_blank => "Seleccionar"}, {:class => 'form-control m-b-md'} ) %>
            <% end %>
          </div>
          <div class="col-xs-12">
            <%= f.input :fecha_inicio, input_html: {class: 'form-control m-b-lg'} %>
          </div>
          <div class="col-xs-12">
            <%= f.input :fecha_fin, collection: @horas, prompt: 'Seleccionar duración',input_html: {class: 'form-control m-b-lg'} %>
          </div>
          <div class="col-xs-12">
            <%= f.button :submit, 'Guardar', class: 'btn btn-w-m btn-primary center-block' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>