<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Gestión de los clientes</h5>
  </div>
  <div class="ibox-content">
    <table class="table table-striped">
      <tr>
        <th>Nombre completo</th>
        <th>Último servicio</th>
        <th>Teléfono</th>
        <th>Sexo</th>
        <th>Activo</th>
        <th>
          <%= link_to new_gestion_cliente_path, :title => 'Añadir nuevo cliente' do %>
              <span class="nuevo glyphicon glyphicon-plus"></span>
          <% end %></th>
      </tr>
      <% cliente.each do |c| %>
          <tr id="producto_<%= c.id %>">
            <td><%= c.nombre_completo_dn %></td>
            <td><%= fecha_legible(c.ultimo_pago) %></td>
            <td><%= c.telefono %></td>
            <td><%= genre_to_human(c.sexo).html_safe %></td>
            <td><%= boolean_to_human(c.activo).html_safe %></td>
            <td>
              <%= link_to edit_gestion_cliente_path(c.id), :title => 'Editar cliente' do %>
                  <span class="editar fa fa-edit"></span>
              <% end %>
              <%= link_to gestion_cliente_path(c.id), :confirm => "¿Estas seguro?", :method => :destroy, remote: true, :title => 'Eliminar cliente' do %>
                  <span class="eliminar glyphicon glyphicon-remove"></span>
              <% end %>

            </td>
          </tr>
      <% end if cliente.count > 0 %>
    </table>
  </div>
</div>