<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Clientes</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Inicio</a>
      </li>
      <li>
        <a href="<%= gestion_clientes_path %>">Clientes</a>
      </li>
      <li class="active">
        <strong>Editando cliente <%= @cliente.nombre_completo_dn %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="tabs-container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> Datos</a></li>
      <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Tintes</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-1" class="tab-pane active">
        <div class="panel-body">
          <%= render partial: 'form', locals: {cliente: @cliente} %>
        </div>
      </div>
      <div id="tab-2" class="tab-pane">
        <div class="panel-body">
          <%= render partial: 'gestion/cliente_tinte/index' %>
        </div>
      </div>
    </div>


  </div>
</div>