<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Clientes</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Inicio</a>
      </li>
      <li>
        <a href="<%= gestion_clientes_path %>">Clientes</a>
      </li>
      <li>
        <a href="<%= gestion_cliente_path(@cliente.id) %>">
          Editando cliente <%= @cliente.nombre_completo_dn %>
        </a>
      </li>
      <li class="active">
        <strong>Nuevo tinte</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
  <%= render partial: 'form_tinte', locals: {cliente_tinte: @cliente_tinte} %>
</div>