<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="<%= image_url 'profile_small.jpg' %>"/>
                    </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><%= session[:logged_name] %></strong>
                            </span>
                        </span>
          </a>
        </div>
        <div class="logo-element">
          PMS
        </div>
      </li>
      <li class="<%= is_active_action('servicios') %>">
        <%= link_to gestion_servicios_path do %>
            <i class="fa fa-money"></i> <span class="nav-label" data-i18n="nav.layouts">Servicios (Precios)</span>
        <% end %>
      </li>
      <li class="<%= is_active_action('clientes') %>">
        <%= link_to gestion_clientes_path do %>
            <i class="fa fa-address-book" aria-hidden="true"></i><span class="nav-label" data-i18n="nav.clients">Clientes</span>

        <% end %>
      </li>
      <li class="<%= is_active_action('ventas') %>">
        <%= link_to gestion_ventas_path do %>
            <i class="fa fa-cart-plus"></i> <span class="nav-label" data-i18n="nav.layouts">Nueva Venta</span>
        <% end %>
      </li>
      <li class="<%= is_active_action('productos') %>">
        <%= link_to gestion_productos_path do %>
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <span class="nav-label">Productos</span>
        <% end %>
      </li>
      <li class="<%= is_active_action('tintes') %>">
        <%= link_to gestion_tintes_path do %>
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
            <span class="nav-label">Tintes</span>
        <% end %>
      </li>
      <li class="<%= is_active_action('pagos') %>">
        <%= link_to gestion_pagos_path do %>
            <i class="fa fa-university" aria-hidden="true"></i>
            <span class="nav-label">Pagos</span>
        <% end %>
      </li>
      <li class="<%= is_active_action('estadisticas') %>">
        <%= link_to gestion_estadisticas_path do %>
            <i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.metrics">Estadísticas</span>
        <% end %>
      </li>
      <li class="<%= is_active_action('configuracion') %>">
        <%= link_to gestion_configuraciones_path do %>
            <i class="fa fa-cog"></i> <span class="nav-label" data-i18n="nav.metrics">Configuración</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('tables') %>">
        <a href="#"><i class="fa fa-table"></i>
          <span class="nav-label" data-i18n="nav.tables">Tables</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse <%= is_active_controller('tables', 'in') %>">
          <li><a href="#">1</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">1</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>